@model List<FunctionViewModel>
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        @foreach (var item in Model.Where(x=> string.IsNullOrEmpty(x.ParentId)))
        {
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        @item.Name
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                @if (Model.Any(x => x.ParentId == item.Id))
                {
                    <ul class="nav nav-treeview">
                        @foreach (var childItem in Model.Where(j => j.ParentId == item.Id))
                        {
                            <li class="nav-item">
                                <a href="@childItem.URL" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@childItem.Name</p>
                                </a>
                            </li>
                        }


                    </ul>
                }
            </li>
        }



    </ul>
</nav>