@{
    ViewData["Title"] = "User List";
}
@section Styles{
    <link href="~/lib/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jquery-treegrid/js/jquery.treegrid.js"></script>
    <script src="~/app/controllers/role/index.js" asp-append-version="true"></script>
    <script>
        var roleObj = new RoleController();
        roleObj.initialize();
    </script>
}

<input type="hidden" id="hid-category-id" value="0" />

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Role List</h3>

        <div class="card-tools">
            <div class="row">
                <div class="col-sm-12 form-inline">
                    <div class="input-group input-group-sm mr-sm-2" style="width: 150px;">
                        <input type="text" id="txt-search-keyword" class="form-control" placeholder="Search">

                        <div class="input-group-append">
                            <button id="btn-search" class="btn btn-warning"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                    <div class="input-group input-group-sm mr-sm-2">
                        <button id="btn-create" class="btn btn-sm btn-primary">Create</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th width="15%"></th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="tbl-content">
            </tbody>
        </table>


    </div>
    <!-- /.card-body -->

    <div class="card-footer clearfix">
        <div class="row">
            <div class="col-sm-5">
                <div class="dataTables_info" id="datatable-checkbox_info" role="status" area-live="polite">
                    <select id="ddl-show-page">
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                    <span class="item-per-page">
                        mẫu tin/trang
                    </span>
                    Tổng số mẫu tin: <strong id="lbl-total-records"></strong>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="datatables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                    <ul id="paginationUL"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td scope="row">
            <button class="btn btn-sm btn-default btn-grant" data-id="{{Id}}"><i class="fas fa-eye-slash"></i></button>
            <button class="btn btn-sm btn-default btn-edit" data-id="{{Id}}"><i class="fas fa-pencil-alt"></i></button>
            <button class="btn btn-sm btn-danger btn-delete" data-id="{{Id}}"><i class="far fa-trash-alt"></i></button>

        </td>
        <td>{{Name}}</td>
        <td>{{Description}}</td>
    </tr>
</script>
<script id="role-template" type="x-tmpl-mustache">
    <div class="checkbox">
        <label>
            <input type="checkbox" {{Checked}} value="{{Name}}" name="ckRoles">
            <span class="text">{{Description}}</span>
        </label>
    </div>
</script>
@await Html.PartialAsync("_AddEditModal.cshtml")
@await Html.PartialAsync("_AssignPermission.cshtml")
